.backgroundlayer{
  background-color: #EEC302;
  width: 50%;
  height: 100vh;
  position: absolute;
  left: 0%;
  opacity: 0.5;
}

.app{
  overflow-x:hidden;
  position:relative;
}

.bgleft{
  background-image: url(../background.jpg);
  width: 100%;
  height: 100vh;
  left: 0px;
  background-size: cover;
}

.navbar{
  position: absolute;
}
.backlayer1{
  background-color: #EEC302;
  width: 30%;
  height: 800px;
  margin-left: 70%;
}
.backlayer2{
  background-color: #EEC302;
  width: 30%;
  margin-top: 100px;
  height: 450px;
  display: flex;
  align-items: center;
  height: 100vh;
  margin-right: 300px;
}

.backlayer3{
  background-color: #EEC302;
  width: 100%;
  height: 400px;
}
.backlayer4{
  background-color: #EEC302;
  width: 100%;
  height: 100px;
  margin-top: 350px;
}

.discover{
  position: absolute;
  top: 200px;
}

.newrecipe{
  position: absolute;
  top: 1100px;
}

.header1{
  position: absolute;
  top: 800px;
  left: 50px;
  border-left: 10px solid #EEC302 ;
}

.header2{
  margin-top: 100px;
  margin-left: 50px;
  border-left: 10px solid #EEC302 ;
}

.menuimage{
  margin-top: 100px;
}

.userprofile{
  margin-top: 100px;
}

.collection{
  margin-top: 100px;
}

.rightside{
  margin-top: 100px;
}

.footer{
  background-color: #EEC302;
  height: 400px;
}
.footer2{
  background-color: #EEC302;
  height: 100px;
}

.tabs{
  color:black
}


.tabs:hover{
  color:black;
  border-bottom: #EEC302 2px  solid ;
}