.backgroundlayer{
  background-color: #422C23;
  width: 50%;
  height: 1000px;
  position: absolute;
  left: 0%;
  opacity: 0.5;
}

.bgleft{
  background-image: url(../background.jpg);
  width: 100%;
  height: 1000px;
  left: 0px;
  background-size: cover;
}

.button{
  text-align: center;
  background-color:#201711;
  border-color: #201711;
  color: white;
  border-radius: 6px;;
}

.form-check-input:checked{
  background-color: #201711;
}

.judul{
  text-align: center;
  margin-top: 80px;
}

.judul2{
  text-align: center;
  margin-top: 220px;
}

.backlayer1{
  background-color: #201711;
  height: 100px;
  width: 30%;
  position: relative;
  left: 70%;
  height: 800px;
}

.backlayer2{
  background-color: #201711;
  height: 100px;
  width: 30%;
  position: absolute;
  top:2900px;
  left: 0;
  height: 500px;
}

.backlayer3{
  background-color: #201711;
  text-align: center;
  color:white;
  height: 100px;
  width: 100%;
  margin-top: 1550px;
  left: 0;
  height: 500px;
}

.backlayer4{
  background-color: #201711;
  text-align: center;
  color:white;
  height: 50px;
  width: 100%;
  margin-top: 250px;
  left: 0;
}

.search{
  position: absolute;
  left: 15%;
  top: 2200px;
}
.searchimage{
  background-image: url(../donat.jpg);
  height: 400px;
  width: 500px;
  background-repeat: no-repeat;
}

.menuimage{
  background-image: url(../donat.jpg);
  height: 400px;
  width: 500px;
  background-repeat: no-repeat;
}

.navbar{
  position: absolute;
}

.newrecipe{
  position: absolute;
  left: 15%;
  top: 3050px;
}

.titlenew{
  position: absolute;
  top: 2780px;
  left: 30px;
  border-left: 10px solid #201711;
}

.titlepopular{
  position: absolute;
  top: 3550px;
  left: 30px;
  border-left: 10px solid #201711;
}

.popular{
  position: absolute;
  top: 3650px;
}

.popularimage{
  background-image: url(../donat.jpg);
  height: 300px;
  width: 350px;
  background-repeat: no-repeat;
}

.align-bottom{
  vertical-align: bottom;
}

.text{
  margin-top: 250px;
  color: #E6E6E6;
}

.last a{
  color: white;
  justify-content: center;
}

.last{
  margin-top: 150px;
}

.mt{
  margin-top: 200px;
}

.App{
  background-color: rgb(198, 182, 163)
}

.photoprofile{
  background-image: url(../profil.jpg);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.link a{
  color: #422C23;
}

.layer4 a{
  color: white;
}

.layer4{
  background-color: #201711;
  height: 50px;
  padding-top: 10px;
}

.form-control{
  background-color: #ffffff;
}

.userprofile{
  margin-top: 400px;
}