.backgroundlayer{
  background-color: #422C23;
  width: 50%;
  height: 1000px;
  position: absolute;
  left: 0%;
  opacity: 0.5;
}

.bgleft{
  background-image: url(../background.jpg);
  width: 100%;
  height: 1000px;
  left: 0px;
  background-size: cover;
}

.App{
  background-color: #d6c2b3 ;
}